.navbar{
    height:60px;
    background-color: #484848;
    padding-left: 100px;
    padding-right: 100px;

}

.link{
    font-weight: bold;
    margin-right: 40px;
    /* color: white; */
}

.link:hover{
     color:white;

}

.temp{
    color:forestgreen
}

img{
    height:40px;
    width: 40px;
    margin-top: 10px;
}

